.hero-title {
  font-size: 4rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.hero-image {
  width: 100%;
  max-width: 350px;
}

.hero-container {
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 900px) {
  .hero-image {
    display: none;
  }
}