/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 85vh;
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 1rem;
    text-align: center;
    align-items: center;
    height: 50vh;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
