.example-button {
  background-color: #008000;
  padding: .5rem 1rem;
  color: #ffffff;
  font-weight: 600;
  border: 1px transparent;
  border-radius: 20px;
}

.example-button:hover {
  transform: scale(1.02);
  cursor: pointer;
}